/*
 *
 * 	Sass Grid!
 * 	An Awesome simple grid with actual columns, that prioritizes minimal mark up!
 * 	Author: Khalah Jones-Golden<khasan222@gmail.com>
 *
 *
 */

@function calc_percent($divisor, $dividend) {
	@return $divisor / $dividend * 100%
}
@function calc_col_width_percent($gutter_width, $content_width) {
	$col_width: col_col_width_static($gutter_width, $content_width);
	$layout_content_width: $content_width + $gutter_width;
	@return calc_percent($col_width, $layout_content_width);
}
@function calc_responsive_gutter_width($gutter_width, $content_width) {
	@return calc_percent($gutter_width, ($gutter_width + $content_width));
}
@function col_col_width_static($gutter_width, $content_width) {
	@return ($content_width - ($gutter_width * 11)) / 12;
}
@function should_have_width_override($loopbreakpoint, $fnbreakpoint) {
	@if $loopbreakpoint == $fnbreakpoint {
		@return false;
	}
	@if $fnbreakpoint == 'largetop' {
		@return false;
	}
	@if $fnbreakpoint == 'tablet' {
		@return false;
	}
	@return true;
}
// Remove these keys inorder to not support certain sizes
$responsive_breakpoint_keys: ('mobile', 'tablet', 'desktop', 'largetop');

$responsive_side_margins: (
	'mobile': 		$mobile_side_margin,
	'tablet': 		$tablet_side_margin,
	'desktop': 		$desktop_side_margin,
	'largetop': 	$largetop_side_margin
);
// total width is simply (num_cols * col_width + num_cols * gutter_width)
// Need to make it so that way you just give it col width and gutter width and we're alright
$responsive_col_width: ();
$responsive_gutter_width: ();
@if unitless($mobile_content_width) {
	$responsive_col_width: (
	'mobile': 		calc_col_width_percent($mobile_gutter_width, $mobile_content_width),
	'tablet': 		calc_col_width_percent($tablet_gutter_width, $tablet_content_width),
	'desktop': 		calc_col_width_percent($desktop_gutter_width, $desktop_content_width),
	'largetop': 	calc_col_width_percent($largetop_gutter_width, $largetop_content_width)
	);
} @else {
	$responsive_col_width: (
	'mobile': 		col_col_width_static($mobile_gutter_width, $mobile_content_width),
	'tablet': 		col_col_width_static($tablet_gutter_width, $tablet_content_width),
	'desktop': 		col_col_width_static($desktop_gutter_width, $desktop_content_width),
	'largetop': 	col_col_width_static($largetop_gutter_width, $largetop_content_width)
	);
}
@if unitless($mobile_gutter_width) == true {
	$responsive_gutter_width: (
	'mobile': 		calc_responsive_gutter_width($mobile_gutter_width, $mobile_content_width),
	'tablet': 		calc_responsive_gutter_width($tablet_gutter_width, $tablet_content_width),
	'desktop': 		calc_responsive_gutter_width($desktop_gutter_width, $desktop_content_width),
	'largetop': 	calc_responsive_gutter_width($largetop_gutter_width, $largetop_content_width)
	);
} @else {
	$responsive_gutter_width: (
	'mobile': 		$mobile_gutter_width,
	'tablet': 		$tablet_gutter_width,
	'desktop': 		$desktop_gutter_width,
	'largetop': 	$largetop_gutter_width
	);
}

$num_grid_columns: 12;

.container {
	box-sizing: border-box;
	width: 100%;
	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: space-around;
		position: relative;
	}
}
@mixin cols($breakpoint) {
	$breakpoint_container_margin: 		map-get($responsive_side_margins, $breakpoint);
	$gutter_width: 						map-get($responsive_gutter_width, $breakpoint);
	$col_width: 						map-get($responsive_col_width, $breakpoint);
	.container {
		@if type-of($breakpoint_container_margin) == string {
			width: $col_width * 12 + $gutter_width * 11;
			margin-left: $breakpoint_container_margin;
			margin-right: $breakpoint_container_margin;
		} @else {
			padding-left: $breakpoint_container_margin;
			padding-right: $breakpoint_container_margin;
		}

		.row {
			margin-left: $gutter_width * -0.5;
			margin-right: $gutter_width * -0.5;
			// margin-bottom: -$gutter_width;
			> {
				* {
					margin-left: $gutter_width / 2;
					margin-right: $gutter_width / 2;
				}
				.demo {
					min-height: 30vh;
					background-color: blue;
					margin-bottom: $gutter_width;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				@each $margin_breakpoint_key in $responsive_breakpoint_keys {
					// This ensure the overlap works fine
					@if should_have_width_override($margin_breakpoint_key, $breakpoint) {
						[class*='col-#{$margin_breakpoint_key}-'] {
							margin-left: $gutter_width / 2;
							margin-right: $gutter_width / 2;
							@if unitless($gutter_width) {
								flex-basis: 100% - $gutter_width;
								max-width: 100% - $gutter_width;
							} @else {
								flex-basis: calc(100% - $gutter_width);
								max-width: calc(100% - $gutter_width);
							}
						}
					}
				}
				@for $col_num from 1 through $num_grid_columns {
					.order-#{$breakpoint}-#{$col_num} {
						order: $col_num - 6;
					}
					$calc_col_width: ($col_num * $col_width) + (($col_num - 1) * $gutter_width);
					.col-#{$breakpoint}-#{$col_num} {
						flex-basis: $calc_col_width;
						margin-left: $gutter_width / 2;
						margin-right: $gutter_width / 2;
						max-width: $calc_col_width;
					}
					.offset-#{$breakpoint}-#{$col_num} {
						margin-left: $calc_col_width + $gutter_width * 1.5 !important;
					}
				}
			}
		}
	}
	// TODO
	// Do we really need this?
	// and if we keep it, shouldn't it be display-mobile-none to keep with the format above?
	// Should there also be a display block, or flex?
	.display-none-#{$breakpoint} {
		display: none;
	}
}

@each $breakpoint in $responsive_breakpoint_keys {
	@if $breakpoint == 'desktop' {
		@media screen and (min-width: $min_desktop) {
			@include cols($breakpoint);
		}
	} @else if $breakpoint == 'largetop' {
		@media screen and (min-width: $min_largetop) {
			@include cols($breakpoint);
		}
	} @else if $breakpoint == 'mobile' {
		@media screen and (max-width: $max_mobile_tablet) {
			@include cols($breakpoint);
		}
	} @else { // tablet
		@media screen and (min-width: $min_tablet) and (max-width: $max_mobile_tablet) {
			@include cols($breakpoint);
		}
	}
}
