$max_mobile_tablet: 960px;
$min_tablet: 768px;
$min_desktop: 961px;
$min_largetop: 1600px;


$responsive_gutter_width: (
	'mobile': 		9px,
	'tablet': 		20px,
	'desktop': 		40px,
	'largetop': 	60px
);
$responsive_content_width: (
	'mobile': 		315px,
	'tablet': 		688px,
	'desktop': 		1160px,
	'largetop': 	1740px
);
$responsive_side_margins: (
	'mobile': 		auto,
	'tablet': 		auto,
	'desktop': 		auto,
	'largetop': 	auto
);
